/* In your global CSS or tailwind.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scroll-smooth {
    scroll-behavior: smooth;
}


body {
  font-family: 'Poppins', sans-serif;
  background-color: #000;
  color: white;
}

/* Example custom animation */
@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeSlideUp 1s ease-out forwards;
}
/* App.css */

/* App.css */

/* Default white filter */
.icon-white {
  filter: brightness(0) invert(1);
  transition: filter 0.4s ease, transform 0.3s ease;
}

/* Hover turns red */
.icon-white:hover {
  filter: invert(16%) sepia(88%) saturate(6556%) hue-rotate(347deg) brightness(95%) contrast(110%);
  transform: scale(1.1);
}
